# Application
APP_NAME=AWS Document Management System
ENVIRONMENT=development

# Database
POSTGRES_DB=dms
POSTGRES_USER=dms_user
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# JWT
JWT_SECRET_KEY=change_me
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30